#!/usr/bin/env bash

SUDO={{ bin_sudo }}
DOCKER={{ bin_docker }}

function init(){
    ${SUDO} ${DOCKER} stack deploy --compose-file docker-compose.yml app
}

function build() {
    ${SUDO} ${DOCKER} pull scce/dywa:latest && \
    ${SUDO} ${DOCKER} build -t scce/webapp -f src/Dockerfile-webapp src && \
    ${SUDO} ${DOCKER} build -t scce/dywa-app -f src/Dockerfile-dywa-app src
}

function migrate() {
    ${SUDO} ${DOCKER} service scale app_dywa-app=0 && \
    ${DOCKER} run --rm \
       --network=app_postgres \
       -v="{{ app_root }}/maven:/root/.m2" \
       -v="{{ app_root }}/src/dywa-app:/usr/src/mymaven" \
       -w="/usr/src/mymaven/app-dywa-bridge" \
       maven:3.5.4 mvn package \
       -Dde.ls5.dywa.jdbc-connection-url=jdbc:postgresql://{{ dywa_database_host }}:5432/dywa \
       -Dde.ls5.dywa.jdbc-user={{ dywa_database_user }} \
       -Dde.ls5.dywa.jdbc-user={{ dywa_database_password }} \
       -Dhibernate.dialect=org.hibernate.dialect.PostgreSQLDialect \
       -Ddime.native=$1 && \
    ${SUDO} chown -R {{ deploy_user }}:{{ deploy_user }} {{ app_root }}/maven/repository
}

function restart() {
    ${SUDO} ${DOCKER} service update --force app_webapp && \
    ${SUDO} ${DOCKER} service scale app_dywa-app=1 && \
    ${SUDO} ${DOCKER} service update --force app_dywa-app
}

{% if deployment_tier != 'production' %}
function remove() {
    ${SUDO} ${DOCKER} stack remove app
    ${SUDO} ${DOCKER} volume rm app_postgres app_wildfly
}

{% endif %}
function deploy() {
    migrate $1
    build
    restart
}

case "$1" in
    "--init")
    init
    ;;
    "--build")
    build
    ;;
    "--migrate")
    migrate
    ;;
    "--restart")
    restart
    ;;
{% if deployment_tier != 'production' %}
    "--remove")
    remove
    ;;
{% endif %}
    "--deploy")
    deploy false
    ;;
    "--deploy-native")
    deploy true
    ;;
    *)
    echo "Please specify the mode: [
        \"--init\",
        \"--build\",
        \"--migrate\",
        \"--restart\",
{% if deployment_tier != 'production' %}
        \"--remove\",
{% endif %}
        \"--deploy\"
]"
    exit 0
    ;;
esac
