version: '3.2'

networks:
  dywa-app:
{% if deployment_tier != 'production' %}
  mailcatcher:
{% endif %}
  postgres:
  webapp:

volumes:
  wildfly:
  postgres:

services:
  nginx:
    image: nginx:latest
    networks:
      - dywa-app
{% if deployment_tier != 'production' %}
      - mailcatcher
{% endif %}
      - webapp
    depends_on:
      - dywa-app
{% if deployment_tier != 'production' %}
      - mailcatcher
{% endif %}
      - webapp
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./config/nginx/conf.d/dywa-app.conf:/etc/nginx/conf.d/dywa-app.conf:ro"
      - "./config/nginx/conf.d/ssl.conf:/etc/nginx/conf.d/ssl.conf:ro"
      - "./config/nginx/conf.d/webapp.conf:/etc/nginx/conf.d/webapp.conf:ro"
      - "./config/nginx/htpasswd:/etc/nginx/htpasswd:ro"
      - "./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "/etc/letsencrypt:/etc/letsencrypt:ro"
      - "/var/www/certbot:/var/www/certbot:ro"
  webapp:
    image: scce/webapp:latest
    networks:
      - webapp
    volumes:
      - "./config/webapp/nginx.conf:/etc/nginx/nginx.conf:ro"
  dywa-app:
    environment:
      - "CLIENT_ORIGIN=https://{{ domain }}"
    depends_on:
      - postgres
    networks:
      - dywa-app
      - postgres
{% if deployment_tier != 'production' %}
      - mailcatcher
{% endif %}
    image: scce/dywa-app:latest
    volumes:
      - "./config/dywa-app/standalone.xml:/opt/jboss/wildfly/standalone/configuration/standalone.xml:ro"
      - "wildfly:/opt/jboss/wildfly/standalone/data/files"
  postgres:
    environment:
      - "POSTGRES_DB=dywa"
      - "POSTGRES_PASSWORD={{ dywa_database_password }}"
      - "POSTGRES_USER={{ dywa_database_user }}"
    image: scce/dywa-postgres:latest
    networks:
      - postgres
    volumes:
      - "postgres:/var/lib/postgresql/data"
{% if deployment_tier != 'production' %}
  mailcatcher:
    image: scce/mailcatcher:latest
    networks:
      - mailcatcher
{% endif %}
