server {
    listen                  8080 default_server http2 ssl;
    client_max_body_size    {{ client_max_body_size }};

    location /app/ws/ {
        proxy_pass          http://dywa-app;
        proxy_http_version  1.1;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection "Upgrade";
        proxy_read_timeout  8h;
    }

    location /dywa {
        proxy_pass          http://dywa-app;
        proxy_set_header    Authorization "";

        auth_basic              "Protected";
        auth_basic_user_file    ./htpasswd;
    }

    location / {
        proxy_pass      http://dywa-app;
    }

}
