user  www-data;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
{% if allow_access_address_list is defined %}
    {% for allow_access_address in allow_access_address_list %}
    allow {{ allow_access_address }};
    {% endfor %}
    deny all;

{% endif %}
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    upstream webapp {
        server 127.0.0.1:{{ webapp_docker_port }};
        keepalive {{ keepalive_connections }};
    }

    upstream dywa-app {
        server 127.0.0.1:{{ dywa_app_docker_port }};
        keepalive {{ keepalive_connections }};
    }

{% if deployment_tier != 'production' %}
    upstream mailcatcher {
        server 127.0.0.1:{{ mailcatcher_docker_port }};
    }

{% endif %}
    include /etc/nginx/conf.d/*.conf;

}
